<html>
    <head>
        <title>Comienza el Juego</title>
    </head>
<body>
    <body bgcolor=#82E0AA></body>
    <br>
    <center><h1>¡Comienza el Juego!</h1></center>
    <center><h1>Dificultad: {{dificultad}}</h1></center>
    <center><p>¡te toca responder las preguntas!</p></center>
    <br>
    <center><form method="POST">
    {% csrf_token %}
        {% for key, value in data.items %}
            <p><b>{{ key }}</b><br>(Categoria: {{ value.categoria }})</p>
            <select name="{{ forloop.counter }}">
                {% for opcion in value.opciones %}
                <option value="{{ opcion.id }}">{{ opcion.opcion }}</option>
                {% endfor %}
            </select>
        <br>
    {% endfor %}
    <br>
    <input type="submit" value="Enviar Respuestas">
    </form></center>
    <hr />
    <center>Informatorio 2021 * Curso Programación Web * Comisión 3 * Grupo 6</center>
</body>
</html>
