{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Seleccionar Categoria</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="estilo.css">
</head>

<body>
    <body bgcolor=#82E0AA></body>
    <center><h2>----------------</h2></center>
    <center><h1>Seleccionar Categoria</h1></center>
    <center><h2>----------------</h2></center>
    <center><p>Para comenzar a jugar es necesario que elijas la categoria &#129299.</p></center>
    <center><img src= "{% static 'images/parqueyelriobermejo.jpg' %}" alt="Imagen del Chaco" width="400" height="300"></center><br>

     
    <center><p>Las Categorias son las siguientes:</p></center>
    {% for items in categoria %}
    <center><button type="submit"><a class="btn btn-default" href="{% url 'juego:listar_preguntas' identificador=items.pk dif=dificultad %}">{{items.categoria}}</a></button>
    {% endfor %}
    </form>

    
   
    <hr/>

    <center><a href="/">Volver al inicio</a></center> 
    <hr />
    <center>Informatorio 2021 * Curso Programación Web * Comisión 3 * Grupo 6</center>
</body>
</html>
